<div class="container">
  <mat-toolbar>
    <span>{{ titulo }}</span>
  </mat-toolbar>

  <mat-card class="simple-card-m">
    <form [formGroup]="form" (ngSubmit)="agregarUsuario()">
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off" formControlName="usuario" [readonly]="!adicionar">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="5">
          <img src="./assets/img/user.png" alt="usuario" width="250" height="250">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Nombre</mat-label>
            <input matInput autocomplete="off" formControlName="nombre">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Apellido</mat-label>
            <input matInput autocomplete="off" formControlName="apellido">
          </mat-form-field>
        </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Sexo</mat-label>
              <mat-select  formControlName="sexo">
                <mat-option *ngFor="let item of sexo" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button type="button" mat-raised-button class="espacio-derecha" (click)="Volver()">Volver</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" *ngIf="adicionar">Guardar</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" *ngIf="!adicionar">Modificar</button>
          </mat-grid-tile>
            
      </mat-grid-list>
          
        
    </form>
  </mat-card>

</div>
  